# **Part 'A' Print Statement**

In [ ]:
# 1 Write a program to print your name and age using a single print statement.
name = 'Ubaid Bin Yousuf'
age = 30
print(f'My name is {name} and I am {age}')

My name is Ubaid Bin Yousuf and I am 30

In [ ]:
# 2 Use sep to print numbers 1, 2, 3, 4, 5 with different separators (-, |, ,).
print (1, 2, 3, 4, 5, sep = '-')
print (1, 2, 3, 4, 5, sep = '|')
print (1, 2, 3, 4, 5, sep = ' ')

1-2-3-4-5
1|2|3|4|5
1 2 3 4 5

In [ ]:
# 3 Use end to print the following output using only two print statements:
# Hello World!
# I am learning Python
print('hello World', end = '\n')
print('I am learning Python', end = '\n')

hello World
I am learning Python

In [ ]:
# 4 Write a program to print the following shape using only print statements:
# *
# * *
# * * *
# * * * *

print ('*', end = '\n')
print ('* *', end = '\n')
print ('* * *', end = '\n')
print ('* * * *', end = '\n')

*
* *
* * *
* * * *

# Part 'B' **Variables**

In [ ]:
# 1 Create variables name, age, and city. Print them in a single line as a meaningful sentence.#

name = 'Ubaid Bin Yousuf'
age = 30
city = 'Karachi'
print (f'My Name is {name}. I am {age} and I live in {city}')

My Name is Ubaid Bin Yousuf. I am 30 and I live in Karachi

In [ ]:
# 2 Create two variables a = 10 and b = 20. Print their sum, difference, product, and division.

a = 2
b = 3
print('Sum of 2 and 3 is: ', a+b )
print('Difference of 2 and 3 is: ', a-b )
print('Product of 2 and 3 is: ', a*b )
print('Division of 2 and 3 is: ', a/b )

Sum of 2 and 3 is:  5
Difference of 2 and 3 is:  -1
Product of 2 and 3 is:  6
Division of 2 and 3 is:  0.6666666666666666

In [12]:
# 3. Reassign a = 15 and b = 25. Print results again.
a = 15
b = 25
c = 0

print ('before assign a = 15 and b = 25')

c = a
a = b
b = c

print (f'After Reassigned a = {a} and b = {b}')

before assign a = 15 and b = 25
After Reassigned a = 25 and b = 15

In [13]:
# 4 Create a variable pi = 3.14159. Print the area of a circle with radius r = 5.

pi = 3.14259
r = 5

Area = (pi*r*r)
print(f' Area of a circle with radius r = 5 is: {Area} ')

 Area of a circle with radius r = 5 is: 78.56475

## Bonus Challenge

In [14]:
# 1 Swap two variables without using a third variable.
a = 1
b = 2

print (f'Before Swap a = {a} and b = {b}')

a,b = b,a

print (f'After Swaped a = {a} and b = {b}')

Before Swap a = 1 and b = 2
After Swaped a = 2 and b = 1