In [25]:
#Task  01
print ('My Name is Ubaid', 'My age is 35', 'My Favorate color is Black', sep = '\n')

My Name is Ubaid
My age is 35
My Favorate color is Black

In [26]:
#Task  02
Name = 'Ubaid Bin Yousuf'
Age = 35
print ( Name, Age )

Ubaid Bin Yousuf 35

In [27]:
#Task  03
from typing import Counter
City =  'Karachi'
Country = 'Pakistan'
print(f'I live in {City},{Country}')

I live in Karachi,Pakistan

In [28]:
#Task  04
a = 6
b = 3
print ('Sum = ',a+b)
print ('Product = ',a*b)
print ('Division = ',a/b)

Sum =  9
Product =  18
Division =  2.0

In [29]:
#Task  05
a = 'Ubaid Bin Yousuf'
b = 33

c = 'Reading Tech Articles'
print(f'My name is {a}', f'I am {b} year old', f'My hobby is {c}', sep = '\n')

My name is Ubaid Bin Yousuf
I am 33 year old
My hobby is Reading Tech Articles

In [30]:
#Task  06
a = 3
b = 7
print (a, b)

temp = a
a = b
b = temp
print (a, b)

3 7
7 3

In [31]:
#Task  07
celsius =  27
fahrenheit = (celsius * 9/5) + 32
print(f'Temperature in Celcius {celsius}', f'Temperature in Celcius {fahrenheit}', sep = '\n')

Temperature in Celcius 27
Temperature in Celcius 80.6

In [32]:
#Task  08
A = 120
M = 200
B = 80
print(f'Apple ={A}', f'Milk = {M}', f'Bread ={B}', sep = '\n')

Apple =120
Milk = 200
Bread =80

In [33]:
#Task  09
length = 3
width = 2
Area = length*width
print (f'Area of Triangle is {Area}')

Area of Triangle is 6