# Task **01**

In [5]:
# Print all numbers from 1 to 15 and show their cube

for i in range (1,16):
    print(f'The cube of {i} = ', i**3)

The cube of 1 =  1
The cube of 2 =  8
The cube of 3 =  27
The cube of 4 =  64
The cube of 5 =  125
The cube of 6 =  216
The cube of 7 =  343
The cube of 8 =  512
The cube of 9 =  729
The cube of 10 =  1000
The cube of 11 =  1331
The cube of 12 =  1728
The cube of 13 =  2197
The cube of 14 =  2744
The cube of 15 =  3375

# Task **02**

In [40]:
# Print only the nam etht start with 'A' from the given list

names = ['Ali', 'Sara', 'Asad', 'Hina', 'Ahson']
startswith_A = []

for name in names:
    if name.startswith('A'):
        startswith_A.append(name)

print(f'List of the name that starts with A  = {startswith_A}')

List of the name that starts with A  = ['Ali', 'Asad', 'Ahson']

# Task **03**

In [7]:
# Write a loop to find the sum of all even number between 50 and 100.
sum = 0
for i in range (50, 101):
    sum = i + sum
print(f'The Sum from 50 to 100  numbers =  {sum}')

The Sum from 50 to 100  numbers =  3825

# Task **04**

In [28]:
# Write a for loop to count how many uppercase

string = 'HelloPYTHON'
count = 0

for char in string:
    if char.isupper():
        count += 1

print(f'The count of the uppercase  is:  {count}')

The count of the uppercase  is:  7