In [16]:
#Create a list of 5 student names.
#Add a new student using append().
#Insert one name at index 2.
#Remove one name using remove().
#Finally, sort the list.

students = ['Std1','Std2','Std3','Std4','Std5']
print(students)

students.append('Std6')
print(students)

students.insert(2,'Std7')
print(students)

students.remove('Std7')
print(students)

students.sort()

print(students)

['Std1', 'Std2', 'Std3', 'Std4', 'Std5']
['Std1', 'Std2', 'Std3', 'Std4', 'Std5', 'Std6']
['Std1', 'Std2', 'Std7', 'Std3', 'Std4', 'Std5', 'Std6']
['Std1', 'Std2', 'Std3', 'Std4', 'Std5', 'Std6']
['Std1', 'Std2', 'Std3', 'Std4', 'Std5', 'Std6']

In [24]:
# Create a list of numbers and use pop() to remove the last two items.

num  = [1,2,3,4,5,6,7,8,9]
print(num)

num.pop()
num.pop()

print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7]

In [38]:
#  Make a list of 5 countries. Use insert() to add one at index 3, then use count() to count a specific country.

countries = ['kenya','Maldive','Malawi', 'India', 'Pakistan']

countries.insert(3,'Niger')
countries_count = countries.count('Pakistan')

print('List of the Countries:  ', countries)
print('Country Count Pakistan:  ',countries_count)

List of the Countries:   ['kenya', 'Maldive', 'Malawi', 'Niger', 'India', 'Pakistan']
Country Count Pakistan:   1

In [40]:
#  Create a list of integers. Use sort() and then reverse() to show them in descending order.

Int = [6,7,8,1,2,3,4,5]

Int.sort()
print('Sorted list: ', Int)

Int.reverse()
print('Reveresed List: ', Int)

Sorted list:  [1, 2, 3, 4, 5, 6, 7, 8]
Reveresed List:  [8, 7, 6, 5, 4, 3, 2, 1]

In [41]:
 # Use copy() to duplicate a list. Change one element in the copy and show that the original list remains unchanged.

 original_list = ['A', 'B', 'C', 'D', 'E']

 list1 = original_list.copy()
 list1.pop()

 print('Original List: ', original_list)
 print('Duplicate and change list: ', list1)

Original List:  ['A', 'B', 'C', 'D', 'E']
Duplicate and change list:  ['A', 'B', 'C', 'D']

In [45]:
#  Combine two lists of fruits and vegetables and check if 'apple' is present in the combined list.

fruits = ['Apple', 'Banana', 'Mango', 'Orange']
vegetables = ['Carrot', 'Potato', 'Tomato', 'Onion']


print('Appli in Combined List', 'Apple' in fruits+vegetables)

Appli in Combined List True